
 <form>
  <div class="p-grid p-justify-center">
      <div class="p-col-6">
     <span class="p-input-icon-right">
      <i class="pi pi-search" ></i>
      <input type="text"  [(ngModel)]="search"  name="sr"   (keyup)="Keyup()"  class="inp-search" placeholder="Search">         
  </span>
      </div>
 
  </div>
</form>

<div class="col-md-6" *ngFor="let mlist of movieList">
  <div class="card list-group-item-success shadow-lg my-2">
      <div class="card-body">
          <div class="row align-item-center">
              <div class="col-sm-4">
                  <img [src]="mlist.Poster" alt="user" class="contact-img">
              </div>

              <div class="col-sm-4">
                {{mlist.Title}}
              </div>
          </div>
      </div>
  </div>

</div>
